
@import './src/style/variables';
@import '../css/layout.scss';

.fanEthBlockDetail {
    margin: 20px;
}
.transactionLink {
    color:blue;
    cursor: pointer;
}

.block-detail-parent-hash {
    cursor: pointer;
    &:hover{
        text-decoration: underline;
    }
}